body {
    line-height: 1.4;
    color: #333333;
    font-family: 'Pacifico', cursive;
}

.div-align-center{
    text-align: center;
}
.card{
	background: #FFF;
	transition: background 1.0s ease-in-out;
}

.card:hover{
	background: #d3d3d3;
}


.url {
    margin-bottom: 16px;   
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s linear;
}
.url{
	visibility: visible;
    opacity: 1;
}
.url__name {
    font-weight: 600;
    font-size: 14px;
    margin-right: 8px;
}

.url__meta {
    color: #777;
    font-size: 14px;
}
